NEXT_PUBLIC_SITE_URL=http://localhost:3000

# WhatsApp — número sin +, sin espacios, sin guiones. Ejemplo Arg: 5491155551234
NEXT_PUBLIC_WHATSAPP_NUMBER=5491100000000

# Mercado Pago — pedí sandbox en https://www.mercadopago.com.ar/developers/panel
MP_ACCESS_TOKEN=
NEXT_PUBLIC_MP_PUBLIC_KEY=
